@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 900px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    /*INTRO ANIMATION*/
    .cover{
      height: 100%;
      width: 100%;
    }
    /*NAVIGATION BAR*/
    .nav li a{
      font-size: 2vw;
    }
    .nav li a:hover{
      color: #909090;
      text-decoration: none;
      margin-left: 5vw;
      margin-right: 5vw;
      transition-duration: 1s;
      letter-spacing: 1px;
    }
    /*ICONS*/
    .icons{
      margin: 0;
      padding: 0;
      right:0;
      display: none;
    }
    /*FRONT PAGE*/
    .frontpage{
      text-align: center;
    }
    /*BODY*/
    .body1,
    .body2,
    .body3{
      margin-left: 5vw;
      margin-right: 5vw;
    }
    .body3,
    .body2{
      margin-top: 3vh;
    }
    .body3{
      margin-bottom: 10vh;
    }
    .title1,
    .title2,
    .title3{
      font-size: 4vh;
    }
    .par1,
    .par2,
    .par3{
      font-size: 2vh;
      padding-right: 7vw;
      padding-left: 7vw;
    }

    /*SKILLS*/
    .skillspage{
      margin-top: 25vh;
      overflow: hidden;
    }
    .frontend{
      margin-top: 1vh;
    }
    .backend,
    .tools{
      margin-top: 1vh;
    }
    .skill-label{
      display: block;
      font-size: 8vw;
      margin-top: 1vh;
    }
    .frontend li,
    .backend li,
    .tools li{
      width: 20vw;
      height: auto;
      font-size: 1vh;
      padding-top: 2vw;
      padding-bottom: 2vw;
      margin-left: 7px;
    }
    /*CONTACT*/
    .titlecontact{
      margin-top:25vh;
    }
    .resume{
      margin-left:auto;
      margin-right:auto;
      font-size: 2vw;
      width: 20vw;
    }
    .name,
    .number,
    .email{
      font-size: 3vw;
    }

    .projectsanchor{
      margin-top: 20vh;
    }
    .project-container{
      flex-direction: column;
      width: 80vw;
    }

    .p-card{
      width: 80vw;
      margin: 0vw;
      margin-bottom: 10vh;
    }
    .p-img{
      width: 70vw;
      height: 20vh;
      background-color: white;
      margin: auto;
      overflow: hidden;
      margin-top: 1vh;
    }
}
